@import "buttondesig.scss" ;
@import "table.scss";
@import "fichep.scss";
@import"test45.scss";



html, body, .grid-container { height: 100%; margin: 0; }

body {
  display: flex;
  flex-direction: column;
  height: 93vh;
  justify-content: center;
  align-items: center;
  
  color: #eee;
  font-family: "Dosis", sans-serif;
  min-height: 110vh;
}




.center button{
  margin-top: 10px;
  margin-bottom: 10px;
  background: #222;
}

.center button .brk-btn{
  background: grey;
}




.grid-container * { 

 position: relative;
 width: 100%;
 
}

.grid-container *:after { 
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "d1 center center g1" "d1 center center g1" "d1 center center g1";
}

.d1 { 
  grid-area: d1;
   /* background-image: linear-gradient(to right top, #b92579, #ce2a6a, #dc3959, #e54d47, #e86334, #ee5f35, #f45a37, #fa5439, #ff1f59, #fb007e, #e200a9, #b10fd3);    grid-area: d1; 
    border-radius: 0px 220px 220px 5px*/
    background-color: #222;
}

.g1 {
     grid-area: g1;
     /*background-image: linear-gradient(to right top, #b92579, #ce2a6a, #dc3959, #e54d47, #e86334, #ee5f35, #f45a37, #fa5439, #ff1f59, #fb007e, #e200a9, #b10fd3);       border-radius: 220px 0px 0px 220px
     */
     background-color: #222;

    }


.center { 
    grid-area: center; 
    width: 100%;
    overflow-y: scroll;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%

  }
/*button{
    display: flex;
    justify-content: center;
    align-items: center;
}*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /*border-radius: 220px 220px 220px 220px;*/
    text-align: center;

  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 125px;
    font-size: 36px;
    margin-left: 50px;
  }


  .respo {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   /* border-radius: 220px 220px 220px 220px;*/
    text-align: center;

  }
  
  .respo a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .respo a:hover {
    color: #f1f1f1;
  }
  
  .respo .closebtn {
    position: absolute;
    top: 0;
    right: 125px;
    font-size: 36px;
    margin-left: 50px;
  }
  .respo {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   /* border-radius: 220px 220px 220px 220px;*/
    text-align: center;

  }
  
  .respo a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .respo a:hover {
    color: #f1f1f1;
  }
  
  .respo .closebtn {
    position: absolute;
    top: 0;
    right: 125px;
    font-size: 36px;
    margin-left: 50px;
  }

  .contactform{
    background: red;
  }


  .tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:'Aldrich', sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:'Aldrich', sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-thhh{font-weight:bold;font-size:20px;background-color:#ffc702;color:#000000;border-color:black;text-align:center;vertical-align:top;}
.tg .tg-2ade{font-style:italic;font-size:20px;background-color:#ffcb2f;color:#000000;border-color:black;text-align:center;vertical-align:top;}
.tg .tg-e319{font-weight:bold;font-size:20px;background-color:#ffc702;color:#000000;border-color:#000000;text-align:center;vertical-align:top;}
.tg .tg-mvx6{font-style:italic;font-size:20px;background-color:#ffcb2f;color:#000000;border-color:#000000;text-align:center;vertical-align:top;}
